@using SiteExpensesManagement.App.Contracts.Dtos.Car
@model CarForAddDto


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Cars" method="post">
            <h4>Yeni Araç Bilgisi Oluştur</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LicencePlate">Araç Plakası</label>
                <input asp-for="LicencePlate" class="form-control"/>
                <span asp-validation-for="LicencePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId">Kullanıcıyı seçiniz</label>
                @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.Users, "Value","Text"), new { @class="form-control"})
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Oluştur</button>
        </form>
    </div>
</div>
