@using SiteExpensesManagement.App.Contracts.ViewModels.Car
@model CarViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Site expenses Management</h1>

<h4>Update</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Cars" method="post">
            <h4>Araba güncelle</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LicencePlate"></label>
                <input asp-for="LicencePlate" class="form-control"/>
                <span asp-validation-for="LicencePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName"></label>
                <input accept="number" asp-for="User.FirstName" class="form-control"/>
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName"></label>
                <input accept="number" asp-for="User.LastName" class="form-control"/>
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>