@using SiteExpensesManagement.App.Domain.Entities
@model List<DuesPayment>

<h1>Geçmiş Ödemelerim</h1>
<table class="table table-striped table-active">
    <thead>
        <tr>
            <th>Ay</th>
            <th>Yıl</th>
            <th>Tutar</th>
            <th>Ödeme Günü</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DuesPayment payment in Model)
        {
         <tr>
            <td>@payment.Dues.Month</td>
            <td>@payment.Dues.Year</td>
            <td>@payment.Dues.Price <i class="fa-solid fa-turkish-lira-sign"></td>
            <td>@payment.CreatedAt.ToShortDateString()</td>
        </tr>   
        }
    </tbody>
    <tfoot></tfoot>
</table>
<script src="https://kit.fontawesome.com/7dd7b28160.js" crossorigin="anonymous"></script>